/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body{ 
  min-width:100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: medium;
  font-family: "Roboto","Arial",sans-serif;
  color: black;
  margin-bottom: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.app {
  margin: 0 auto;
}

nav#navbar ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav#navbar ul li {
  padding: 20px;
}

nav#navbar ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

/* Prevents Padding or borders from changing box size */
.row { 
  position: relative;
  padding: auto;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

/* Columns */
.col { 
  width: 100%; 
  float: left;
  padding: 15px 5px;
  background-clip: content-box;
}

/* Small Devices */
@media (min-width: 576px) {
  .sm-1 { width: 10%; }
  .sm-2 { width: 20%; }
  .sm-3 { width: 33.3%; }
  .sm-4 { width: 40%; }
  .sm-5 { width: 50%; }
  .sm-6 { width: 60%; }
  .sm-7 { width: 70%; }
  .sm-8 { width: 80%; }
  .sm-9 { width: 90%; }
  .sm-10 { width: 100%; }
}
/* Medium Devices */
@media (min-width: 768px) {
  .md-1 { width: 10%; }
  .md-2 { width: 20%; }
  .md-3 { width: 33.3%; }
  .md-4 { width: 40%; }
  .md-5 { width: 50%; }
  .md-6 { width: 60%; }
  .md-7 { width: 70%; }
  .md-8 { width: 80%; }
  .md-9 { width: 90%; }
  .md-10 { width: 100%; }
}
/* Large Devices */
@media (min-width: 992px) {
  .lg-1 { width: 10%; }
  .lg-2 { width: 20%; }
  .lg-3 { width: 33.3%; }
  .lg-4 { width: 40%; }
  .lg-5 { width: 50%; }
  .lg-6 { width: 60%; }
  .lg-7 { width: 70%; }
  .lg-8 { width: 80%; }
  .lg-9 { width: 90%; }
  .lg-10 { width: 100%; }
}

.video-card-info {
  width: 70%;
  margin: auto;
}

#video-form {
  width: 60%;
}

#video-player {
  margin: auto;
  width: 80%;
}

#video-screen {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.browse {
  width: 90%;
  margin: auto;
}